# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Application-specific files
models/temp_audio/*
!models/temp_audio/.gitkeep

data/custom_sets/*
!data/custom_sets.gitkeep